<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <table name="current_state">
      <thead>
        <tr>
          <th>호차</th>
          <th>좌석</th>
          <th>승차권</th>
          <th>날짜</th>
          <th>열차번호</th>
          <th>승차역</th>
          <th>하차역</th>
          <th>자리찾기</th>
        </tr>
      </thead>
      <tbody>
        {% if pending_ticket_list %} {% for ticketinfo in pending_ticket_list %}
        <tr>
          {% for col in ticketinfo %}
          <script></script>
          <td>{{col}}</td>
          {% endfor %} {% csrf_token %}
          <td>
            <button
              type="button"
              onclick="setup_reservation(`{{ticketinfo|safe}}`)"
            >
              예약
            </button>
          </td>
        </tr>
        {% endfor %} {% else %}
        <p>No pending ticket found</p>
        {% endif %}
      </tbody>
    </table>
    <p>Recent update</p>
    <p>{{log_timestamp}}</p>
    <p>Current</p>
    <p>{{current_timestamp}}</p>
  </body>
</html>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie("csrftoken");
  function setup_reservation(ticketinfo) {
    var form = document.createElement("form");
    form.action = "emptyseat/setup_schedule/";
    form.method = "post";
    const col = [
      "",
      "",
      "",
      "date",
      "numofTrain",
      "departStation",
      "destStation",
    ];
    var lst = ticketinfo.split(",");
    for (var i = 3; i < lst.length; i++) {
      inp = document.createElement("input");
      inp.setAttribute("type", "hidden");
      inp.setAttribute("name", col[i]);
      console.log(lst[i].match(/\'(.*?)\'/g)[0].replace(/'/g, ""));
      inp.setAttribute(
        "value",
        lst[i].match(/\'(.*?)\'/g)[0].replace(/'/g, "")
      );
      form.appendChild(inp);
    }
    csrf = document.createElement("input");
    csrf.setAttribute("name", "csrfmiddlewaretoken");
    csrf.setAttribute("value", csrftoken);
    form.appendChild(csrf);
    document.body.appendChild(form);
    form.submit();
  }
</script>
